       

<img id="hudPlanetSideA" src="/images/hud2.png">

<img id="hudPlanetSideB" src="/images/hud2.png">

<div id="planetFacts">
    <section id="factsTitle"><h1>Facts</h1></section>

        Planet Size: {{Planet.planet_size}}
        <p>
        Distance from Sun: {{Planet.planet_distance}}
        </p>
        Planet Temperature: {{Planet.planet_temperature}}
        <p>
        Number of Moons: {{Planet.number_moons}}
        </p>
        {{Comment.comment_text}}
        
</div>

<div id="centerHud">

  <div id="planetName">Planet {{Planet.planet_name}}

  </div> 

  <div id="planet">
    <img src="/{{Planet.planet_photo}}" id="imgPlanet"></img>
    <p></p>

  </div>

  <div id="messageInput">
    <form class="post-form">  
      <div>
        <p>
        <label for="postContent"></label>
        </p>
        {{!-- <input type="hidden" name="id" id="id" value="{{Planet.id}}"/> --}}
        <input type="hidden" name="planetid" id="planetid" value="{{Planet.id}}"/>      
        <input id="postContent" name="post-content" placeholder="&nbsp;&nbsp;Share your thoughts on planet {{Planet.planet_name}}..."/>
        <p>
      </div>
        <button id="commentSubmit" type="submit">Submit</button>
        </p>
    </form>
  </div>

</div>   

<div id="planetComments">
  <section><h1>Comments</h1></section>

  <div>
    <div>
      {{#each comments as |comment|}}
      {{comment_text}}
    </div>
      <div>
        <b>{{User.username}}</b>
      </div>
  </div>

</div>

  
  {{else}}
  
<h6>There aren't any posts</h6>

{{/each}} 

</div>

            

<script src="/javascript/create-post.js"></script>