    <div id="planetRow">

        <img src="/{{Planet.planet_photo}}" id="imgPlanet"></img>
        
    </div>    
    
    <div id="planetName">Planet {{Planet.planet_name}}</div> 

    <img id="hudPlanetSideA" src="/images/hud2.png">

    <img id="hudPlanetSideB" src="/images/hud2.png">

<div id="planetFacts">
    <section id="factsTitle"><h1>Facts</h1></section>

        Planet Size: {{Planet.planet_size}}
        <p>
        Distance from Sun: {{Planet.planet_distance}}
        </p>
        Planet Temperature: {{Planet.planet_temperature}}
        <p>
        Number of Moons: {{Planet.number_moons}}
        </p>
        Test: {{Planet.planet_photo}}

</div>

<div id="planetComments">
    <section id="commTitle"><h1>Comments</h1></section>

  <form class="post-form">  
    <div>
      <p>
      <label for="postContent"></label>
      </p>
      <input type="hidden" name="id" id="id" value="{{Planet.id}}"/>
      <input type="hidden" name="userid" id="userid" value="{{User.id}}"/>      
      <input type="hidden" name="planetid" id="planetid" value="{{Planet.Planet_id}}"/>      
      <input id="postContent" name="post-content" placeholder="Message"/>
      <p>
    </div>
    <button id="commentSubmit" type="submit">Submit</button>
    </p>
  </form>


    

</div>

<div id="planetResidents">


<section id="resTitle"><h1>Comments</h1></section>

{{#if comment.length}}

{{#each comments as |comment|}}
{{comment}}
  {{/each}}

  {{else}}
<h6>There aren't any posts</h6>



  
  {{/if}}

</div>

            

<script src="/javascript/create-post.js"></script>