<h1>The Tech Blog</h1>
<section id="currentUploadComment">
  <section class="card">
      <div class="card-body">
        <h3 class="card-title">{{hbsUpload.title}}</h3> 
        <h5>Posted by {{hbsUpload.user.username}} on {{hbsUpload.createdAt}}</h5>
        <p class="card-text">{{hbsUpload.content}}</p>
    </div>
  </section>
{{#each hbsUpload.comments}}
  <section class="card">
    <div class="card-body">
      <p>Comment</p>
      <p class="card-text">{{body}}</p>
    </div>
  </section>
{{/each}}
</section>
<section class="card text-center">
<div class="card-body">
  <h3 class="card-title">Comment</h3>
  <form id="newComment">
    <div class="card-text"></div>
      <input id="hiddenCommentId" hidden="true" value="{{hbsUpload.id}}"></input>
      <textarea id="comment" placeholder="Enter comment"></textarea>
    </div>
    <button id="create">Submit</button>
</form>
</div>
</section>

<script src="/js/comment.js"></script>

